In [1]:
import pandas as pd

path = "/Users/nico_marais/Downloads/Reims climate data.csv"

df_rheims = pd.read_csv(path)

In [2]:
df_rheims.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,CDSD,CDSD_ATTRIBUTES,CLDD,CLDD_ATTRIBUTES,...,HTDD,HTDD_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,FRE00104048,2012-06,49.2094,4.1553,95.0,"REIMS PRUNAY, FR",NaN,NaN,6.6,",E",...,83.0,",E",100.7,",,,E",15.79,",E",20.98,",,,E",10.60,",,,E"
1,FRE00104048,2012-07,49.2094,4.1553,95.0,"REIMS PRUNAY, FR",NaN,NaN,24.3,",E",...,46.7,",E",88.2,",,,E",17.61,",E",23.24,",,,E",11.98,",,,E"
2,FRE00104048,2012-08,49.2094,4.1553,95.0,"REIMS PRUNAY, FR",NaN,NaN,43.4,",E",...,18.2,",E",16.7,",,,E",19.15,",E",26.13,",,,E",12.16,",,,E"
3,FRE00104048,2012-09,49.2094,4.1553,95.0,"REIMS PRUNAY, FR",NaN,NaN,2.1,",E",...,126.1,",E",47.7,",,,E",14.20,",E",20.71,",,,E",7.70,",,,E"
4,FRE00104048,2012-10,49.2094,4.1553,95.0,"REIMS PRUNAY, FR",NaN,NaN,0.5,",E",...,215.1,",E",48.8,",,,E",11.41,",E",15.61,",,,E",7.21,",,,E"

In [3]:
avg_max_temp = df_rheims['TMAX'].mean()

In [8]:
avg_max_temp

16.787777777777777

In [5]:
avg_min_temp = df_rheims['TMIN'].mean()
avg_min_temp

6.252718446601943

In [6]:
avg_precipitation = df_rheims['PRCP'].mean()

In [7]:
avg_precipitation

48.83790322580645