In [2]:
import pandas as pd
data = pd.read_csv('../better_sheff_merge.csv')

In [5]:
data['z'] = data['z'].apply(lambda x: 7*x)

In [6]:
data

                  x            y     z
0       -184878.203  7089520.381  1197
1       -184836.846  7089520.381  1211
2       -184795.490  7089520.381  1204
3       -184754.133  7089520.381  1162
4       -184712.777  7089520.381  1148
...             ...          ...   ...
1816037 -141495.286  7018334.906  1211
1816038 -141453.929  7018334.906  1204
1816039 -141412.573  7018334.906  1204
1816040 -141371.216  7018334.906  1204
1816041 -141329.860  7018334.906  1204

[1816042 rows x 3 columns]