In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [12]:
data = pd.read_csv('/Users/student/code/Liedjieboer/forward_farming/clean_data/winemag-data-130k-v2.csv')

In [155]:
data['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [16]:
data['variety'].value_counts()

Pinot Noir                    13272
Chardonnay                    11753
Cabernet Sauvignon             9472
Red Blend                      8946
Bordeaux-style Red Blend       6915
                              ...
Cabernet Sauvignon-Barbera        1
Sauvignonasse                     1
Forcall√†                          1
Meseguera                         1
Bobal-Cabernet Sauvignon          1
Name: variety, Length: 707, dtype: int64

In [156]:
data['description'][0]

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

In [31]:
df = data[(data['variety'] == 'Pinot Noir') | (data['variety'] == 'Chardonnay')]

In [37]:
df = df[['country', 'description', 'region_1']]

In [43]:
df = df.dropna()

In [45]:
df['country'].value_counts()

US           16663
France        4769
Australia      532
Argentina      392
Italy          340
Spain           85
Canada          49
Name: country, dtype: int64

In [94]:
df['region_1']

4         Willamette Valley
14            Central Coast
21                   Oregon
25             Sonoma Coast
35              McMinnville
                ...
129936              Pommard
129940            Mendocino
129941     Mendocino County
129949          Napa Valley
129967               Oregon
Name: region_1, Length: 22830, dtype: object

In [108]:
def gapi(address):
    params = {'address': address,
              'key': 'AIzaSyDb5JhGgS5W-ZTZ7VIilgtenJ4DQZxHD2U'}
    try:
        
        response = requests.get('https://maps.googleapis.com/maps/api/geocode/json', params = params)
        return (response.json()['results'][0]['geometry']['location']['lat'], response.json()['results'][0]['geometry']['location']['lng'])
    
    except:
        
        return "address not found"

In [109]:
gapi('Willamette Valley')

(44.942554, -122.9337615)

In [110]:
df['lat'] = df['region_1'].apply(gapi)

/var/folders/c2/y0gmhjgn52s4fjvr1c_0n5_c0000gp/T/ipykernel_33228/3321500679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'] = df['region_1'].apply(gapi)

In [112]:
df['lat'].value_counts()

address not found                    5529
(38.4836416, -122.8175328)           2288
(44.942554, -122.9337615)            1707
(38.4242109, -123.1011733)           1335
(34.66595650000001, -120.1152408)     883
                                     ...
(34.5199402, -105.8700901)              1
(44.3148443, -85.60236429999999)        1
(35.39798440000001, -120.613122)        1
(31.9685988, -99.9018131)               1
(37.8534093, -121.9017954)              1
Name: lat, Length: 301, dtype: int64

In [121]:
df

,country,description,region_1,lat
4,US,"Much like the regular bottling from 2012, this...",Willamette Valley,"(44.942554, -122.9337615)"
14,US,Building on 150 years and six generations of w...,Central Coast,address not found
21,US,"A sleek mix of tart berry, stem and herb, alon...",Oregon,"(43.8041334, -120.5542012)"
25,US,Oak and earth intermingle around robust aromas...,Sonoma Coast,"(38.4242109, -123.1011733)"
35,US,As with many of the Erath 2010 vineyard design...,McMinnville,"(45.2107513, -123.1944874)"
...,...,...,...,...
129936,France,A blend from several premier cru vineyards in ...,Pommard,"(47.00931, 4.795325)"
129940,US,This is the winery's bells and whistles Chardo...,Mendocino,"(39.3076744, -123.7994591)"
129941,US,"A Chardonnay with an unusual companion, 8% S√©m...",Mendocino County,"(39.5500194, -123.438353)"
129949,US,There's no bones about the use of oak in this ...,Napa Valley,"(38.5024689, -122.2653887)"
129967,US,Citation is given as much as a decade of bottl...,Oregon,"(43.8041334, -120.5542012)"

In [132]:
df = df[df['lat'] != 'address not found']

In [144]:
len(df)

17301

In [139]:
df = df.rename(columns = {'lat': 'coord'})

In [146]:
df['lat'] = [df['coord'].iloc[i][0] for i in range(0,17301)]

In [148]:
df['lon'] = [df['coord'].iloc[i][1] for i in range(0,17301)]

In [151]:
df = df.drop(columns = 'coord')

In [153]:
df['country'].value_counts()

US           13239
France        2975
Australia      433
Argentina      339
Italy          247
Spain           65
Canada           3
Name: country, dtype: int64

In [168]:
df['description'].iloc[9]

"Poached pears, yellow apples and a touch of butter show on the classic nose of this Chardonnay that holds to steely frame. Very sharp acidity kicks off the sip, where Pink Lady apples and warm vanilla surround a tight minerality. It's both sharp and slightly sweet."

In [170]:
df.to_csv('clean_winemag_coord.csv')